@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');

.HomeB{
    width: 100%;
    height: 100vh;
    background-image: url('../Assets/Home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    
}
.overlay{
    background-color: rgba(14, 13, 13, 0.7);
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    text-align: center;
}
.textHomeB{
    margin-top: 150px;
    color:white;
    font-family: 'Kirang Haerang', cursive;
}
.sect-2H{
    
    width: 100%;
    height: 90%;
    background-color: #B6C867;
}
.buttonH{
    outline: none;
    border: none;
    width: 250px;
    height: 50px;
    margin-bottom: 30px;
    font-size: 170%;
    background-color: #7FDBDA ;
    color: white;
    border-radius: 7px;
}
.bCH{
    background-color: #FEBF63;
}
.buttonH:hover{
    border: 1px solid #F2F3F4 ;
    cursor: pointer;
    background-color:#B6C867;
}

/* 7F8B52 */

.HomeB1{
    width: 100%;
    height: 100vh;
    background-image: url('../Assets/home1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    
}
.overlay1{
    background-color: rgba(14, 13, 13, 0.7);
    position: absolute;
    /* top: 185.8%;
    left: 0; */
    width: 100%;
    height: 100%;
    text-align: center;
}
.textHomeB1{
    margin-top: 180px;
    color:white;
    font-family: 'Kirang Haerang', cursive;
}


@media only screen and (max-width: 400px) {
    .textHomeB{
        margin: auto;
        font-size: 85%;
        text-align: center;
        margin: 10px;
        margin-right: 20px;
    }
    .sect-2H{
        font-size: 80%;
        text-align: center;
    }
    .textHomeB1{
        font-size: 80%;
        margin: 20px;
    }
}