.imager{
    background-image: url('../Assets/qwd83nc4xxf41.jpg');
    height: 91vh;
    font-family: 'Open Sans', sans-serif;
}
.conti-form{
    background-color: #F3F4ED;
    width: 450px;
    border-radius: 10px;
    padding-top: 20px;
    
}

@media only screen and (max-width: 950px) {
    .imager{
       
        height: 100%;
        
    }
  }

/* background-color: #E8E8E8; */

.headO{
    width: 100%;
    height: 400px;
    
    background-image: url('../Assets/dev2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 550px) {
    .conti-form{
        width: 320px;
        margin-bottom: 50px;
    }
    .addFormI{
        width: 80%;
        height: 80%;
    }
}

@media only screen and (max-width: 750px) {
    .headO{
       
        width: 100%;
        
    }
    .dashFT{
        font-size: 70%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .dashIm{
        width: 300px;
    }
    .dashIm1{
        width: 200px;
        margin-bottom: -100px;
    }
    .dashIm2{
        width: 200px;
        margin-bottom: -200px;
    }
  }

