@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.SignupText{
    margin-top:10px;
    font-size: 200%;
    font-family: 'Open Sans', sans-serif;
}

.font{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}
.font1{
    font-family: 'Open Sans', sans-serif;
}
.signup{
    
    background-color: #212121;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.resetD{
    background-color: #212121;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


  