.DashVideo{
    /* background-image: url('../Assets/download3.png');
    
    background-position-x: center;
    background-repeat:no-repeat;
    background-size: 1200px 700px;
    padding: 70px; */
}